{% extends 'base.html.njk' %}

{% block title %}About us{% endblock title %}

{% block body %}
<h2> This is info about us </h2>
<p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ad itaque nemo cumque provident, excepturi, eius sint iusto temporibus labore officia culpa quas consequatur deserunt. Animi itaque tenetur repudiandae! Tempora.
  Fugit excepturi voluptatem cumque molestias repellendus officiis suscipit quod ea delectus alias architecto aliquam, ex hic maiores sit consequuntur accusantium eaque, eius ab impedit doloremque vero aperiam. Nostrum, quis? Labore!
  Animi veritatis laudantium ducimus, dolor fugit eius possimus vero exercitationem voluptates accusamus perferendis architecto est itaque inventore! Fugit aliquid accusantium quaerat ducimus officia? Nam repudiandae mollitia illo inventore fugiat tenetur? </p>
{% endblock body %}